# visual studio code
**/.vscode/

# python
venv/
virtualenv/
__pycache__/
.pytest_cache/
.mypy_cache/
build/
dist/
*.egg-info/
docs/build_*

# misc
.DS_Store

# my stuff
private_tests/
private_scripts/
my_projects/

# raw outputs & data storage
data/*
simulation_outputs/

# Compilation
.pypirc

# Testing scripts (should they remain between updates)
test_*